.headerTitle {
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #fff;
   width: 100%;
   gap: 15px;
   padding: 10px;
   border-radius: 10px;
   -webkit-box-shadow: 10px 10px 25px -18px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 10px 10px 25px -18px rgba(0, 0, 0, 0.75);
   box-shadow: 10px 10px 25px -18px rgba(0, 0, 0, 0.75);

}

.headerTitle h1 {
   color: #333;
   font-size: 1.7em;
   letter-spacing: 1px;
}